<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Ticket #</th>
			<th scope="col">From</th>
			<th scope="col">To</th>
			<th scope="col">Price</th>
            <th scope="col">Issued at</th>
		</tr>
	</thead>
	<tbody>
		@for (ticket of tickets; track ticket.ticketId; let i = $index) {
			<tr [ngClass]="{'table-danger' : ticket.refunded}">
				<td>{{ ticket.ticketId }}</td>
				<td>{{ ticket.route.stationFrom.stationName }}</td>
				<td>{{ ticket.route.stationTo.stationName }}</td>
				<td>{{ ticket.price | currency }}</td>
                <td>{{ ticket.issuedAt | date }}</td>
                <td><button [disabled]="ticket.refunded" (click)="refundTicket(ticket)" type="button" class="btn btn-primary btn-sm">Refund</button></td>
			</tr>
		}
	</tbody>
</table>
@if(pagination) {
    <ngb-pagination class="d-flex justify-content-center"
                    [collectionSize]="pagination.totalItems" 
                    [(page)]="currentPage" 
                    [pageSize]="pagination.itemsPerPage"
                    (pageChange)="loadTicketsPage(currentPage)">
    </ngb-pagination>
}